* {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    word-break: keep-all;
}

a {
    text-decoration: none;
    color: inherit;
}

span,
img,
video {
    display: block;
}

button {
    background-color:transparent;
    border: none;
    cursor: pointer;
}

input,
select {
    font-family: inherit;
    font-size: inherit;
    border-radius: 0;
}

textarea {
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

select option {
    color: #222;
}